@import './index.css';
@import url("https://use.typekit.net/hup5afq.css");

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.LeftColumn {
  height: inherit;
  width: 34vw;
  left: 0;
  color: #11151C;
  background-color: white;
  position: absolute;
}

.RightColumn {
  height: inherit;
  width: 66vw;
  right: 0;
  color: white;
  background-color: #11151C;
  position: absolute;
}

.TitleContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.TitleContainer .TitleBeginning {
  width: 34vw;
  padding-right: 0.6vw;
  text-align: end;
  z-index: 1;
  color: #11151C;
  font-family: 'Mosk Ultra-Bold 900';
  font-size: 7vw;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -0.3vw;
}

.TitleContainer .TitleEndingContainer {
  width: 66vw;
  padding-left: 0.6vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.TitleEndingContainer .TitleEnding {
  color: white;
  font-family: 'Mosk Ultra-Bold 900';
  font-size: 7vw;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -0.3vw;
}

.TitleEndingContainer .Byline {
  margin-right: auto;
  color: rgb(157, 157, 157);
  font-family: 'Mosk Medium 500';
  font-size: 1.5vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.CenterContainer {
  height: 65vh;
  width: 70vw;
  margin: auto;
  padding: 25px;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #242d3b;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.QueryInput {
  width: 56vw;
  margin: auto;
  padding: 0.75vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  border: 1px solid;
  border-radius: 100px;
  border-color: white;
  color: white;
  background-color: #11151C;
  font-family: 'Mosk Medium 500';
  font-size: 1.75vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.VersionDisplay {
  height: 40vh;
  width: 56vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.VersionDisplay .RingLoader {
  margin: auto;
  margin-bottom: max(40px, 7vh);
}

.VersionDisplay .AppTitleText {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  color: white;
  font-family: 'Mosk Medium 500';
  font-size: 3vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.VersionDisplay .AppVersionText {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  color: gray;
  font-family: 'Mosk Medium 500';
  font-size: 2vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.LoadingDisplay {
  height: 40vh;
  width: 56vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.LoadingDisplay .HashLoader {
  margin: auto;
  margin-bottom: max(40px, 7vh);
}

.LoadingDisplay .LoadingText {
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Mosk Medium 500';
  font-size: 3vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.LoadingDisplay .LoadingStageText {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  color: gray;
  font-family: 'Mosk Medium 500';
  font-size: 1.5vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.ValidityErrorDisplay {
  height: 40vh;
  width: 56vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.ValidityErrorDisplay .ErrorText {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  color: white;
  font-family: 'Mosk Medium 500';
  font-size: 3vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.ValidityErrorDisplay .ErrorDetailsText {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  color: gray;
  font-family: 'Mosk Medium 500';
  font-size: 1.5vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

a {
  color: gray;
}

.ResultsDisplay {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.ResultsDisplay .ResultsHeader {
  width: inherit;
  display: flex;
  flex-direction: row;
}

.ResultsHeader .Bar {
  height: inherit;
  width: 1vw;
  margin-right: 1vw;
  background-color: white;
}

.ResultsHeader .Query {
  width: 45vw;
  color: white;
  font-family: 'Mosk Ultra-Bold 900';
  font-size: 4vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.ResultsDisplay .SourcesHeader {
  margin-top: 7vh;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.SourcesHeader .Dot {
  margin-right: 0.5vw;
  color: white;
  font-family: "space-mono", mono;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.SourcesHeader .Text {
  color: white;
  font-family: "space-mono", mono;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.ResultsDisplay .SourcesResult {
  display: flex;
  flex-direction: row;
}

.SourcesResult .Bar {
  height: inherit;
  width: 1vw;
  margin-right: 1vw;
  background-color: #70AE6E;
}

.SourcesResult .Result {
  font-family: 'Mosk Ultra-Bold 900';
  font-size: 3vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.SourcesResult .RatioBeginning {
  margin-left: auto;
  margin-right: 0.75vw;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Mosk Medium 500';
  font-size: 3vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.SourcesResult .RatioEnding {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  font-family: 'Mosk Medium 500';
  font-size: 1.25vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.ResultsDisplay .SourcesReasoning {
  margin-top: 3vh;
  color: rgba(255, 255, 255, 0.86);
  font-family: 'Mosk Light 300';
  font-size: 1.5vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.ResultsDisplay .InternalHeader {
  margin-top: 7vh;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.InternalHeader .Dot {
  margin-right: 0.5vw;
  color: white;
  font-family: "space-mono", mono;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.InternalHeader .Text {
  color: white;
  font-family: "space-mono", mono;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.ResultsDisplay .InternalResult {
  display: flex;
  flex-direction: row;
}

.InternalResult .Bar {
  height: inherit;
  width: 1vw;
  margin-right: 1vw;
  background-color: #70AE6E;
}

.InternalResult .Result {
  font-family: 'Mosk Ultra-Bold 900';
  font-size: 3vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.ResultsDisplay .InternalReasoning {
  margin-top: 3vh;
  color: rgba(255, 255, 255, 0.86);
  font-family: 'Mosk Light 300';
  font-size: 1.5vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}