@import './index.css';

/*
 * App Container
 */
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

/*
 * Sources Column
 */
.SourcesColumn {
  width: 34vw;
  color: #11151C;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.SourcesColumnPageTitle {
  margin-left: auto;
  margin-right: 0.6vw;
  font-family: 'Mosk Ultra-Bold 900';
  font-size: 7vw;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -0.3vw;
}

.SourcesColumnSpacer {
  height: 7vh;
  width: 1px;
  background-color: transparent;
}

.SourcesColumnHeader {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Mosk Ultra-Bold 900';
  font-size: 5vw;
  line-height: 1.1;
  letter-spacing: -0.3vw;
}

/*
 * Main Column
 */
.MainColumn {
  width: 66vw;
  color: white;
  background-color: #11151C;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.MainColumnPageTitle {
  margin-left: 0.6vw;
  margin-right: auto;
  font-family: 'Mosk Ultra-Bold 900';
  font-size: 7vw;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -0.3vw;
}

.MainColumnByline {
  height: 7vh;
  margin-left: 0.6vw;
  margin-right: auto;
  color: white;
  font-family: 'Mosk Medium 500';
  font-size: 1.75vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

.MainColumnHeader {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5vh;
  font-family: 'Mosk Ultra-Bold 900';
  font-size: 5vw;
  line-height: 1.1;
  letter-spacing: -0.3vw;
}

.MainColumnInput {
  width: 56vw;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid;
  border-radius: 100px;
  border-color: white;
  color: white;
  background-color: #11151C;
  font-family: 'Mosk Medium 500';
  font-size: 1.75vw;
  line-height: 1.1;
  letter-spacing: -0.05vw;
}

/* .App {
  height: 60vh;
  width: 80vw;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../public/Gray Gradient.jpeg');
  background-size: cover;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
} */