@import url("https://use.typekit.net/hup5afq.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

/*
 * Fonts
 */
 @font-face {
  font-family: 'Mosk Ultra-Bold 900';
  src: url('../fonts/Mosk\ Ultra-Bold\ 900.ttf')
}

@font-face {
  font-family: 'Mosk Medium 500';
  src: url('../fonts/Mosk\ Medium\ 500.ttf')
}

@font-face {
  font-family: 'Mosk Light 300';
  src: url('../fonts/Mosk\ Light\ 300.ttf')
}